{if $settings.theme_name == 'abt__unitheme2'}
<div id="abt__ut2_block_settings_{$elm_id}">
<div class="abt-ut2-doc">{__('abt__ut2.block.availability.show_on',
['[show_on]' => "{__("block_manager.availability.show_on")}: {__("block_manager.availability.phone")}/{__("block_manager.availability.tablet")}/{__("block_manager.availability.desktop")}"])}</div>
</div>
{/if}