// Unitheme 2 Mulivendor styles

.vendor-store {
	.ty-mainbox-body {
		.ty-vendor-communication__post-write {
			display: none;
		}
	}
	.ty-mainbox-title__right {
		color: @lighten-font;
	}
	@media screen and (max-width: 768px) {
		.container-fluid-row > .row-fluid {
			display: flex;
			flex-direction: column-reverse;
		}
		.ty-dropdown-box.ut2-filters {
		    margin-top: 0;
		    margin-bottom: 20px;
		}		
	}
}

// All vendors

.ty-companies {
	padding: @pd 0;
	border-bottom: 0;
	border-top: 1px solid @base;
	
	&__info {
		line-height: 145%;
		
		a.ty-company-title {
			line-height: normal;
			font-size: 18px;
			padding: 0;
			margin-bottom: @pdi;
			.ajx-link();
		}
		a:not(.ty-company-title) {
			text-decoration: underline;
		}
	}
	&__img {
		display: flex;
	    flex-direction: column;
	    align-items: center;
	    width: 200px;
	}
	
	.ty-company-image {
		max-height: 100px;
	}
}

// Deteils vendor page

.ty-company-detail {
	&__info-list {
		line-height: 145%;
	}
	&__info-title {
		padding-bottom: @pdi;
	}
	&__logo {
		margin: 0 40px 20px 0;
		width: auto;
		height: auto;
		border: 0;
		
		img {
			max-width: 300px;
			max-height: 200px;
		}
	}
	
	& + .ty-tabs {
		.ty-tabs {
			&__a {
				.ut2_round(@round: 4px) when (@abt__ut2_general_use_rounding = little) {
					.border-radius(@round);
				}
				.ut2_round(@round: 32px) when (@abt__ut2_general_use_rounding = full) {
					.border-radius(@round);
				}
				.ut2_round();			
			}
			&__list {
		
			}
			&__item {
	
			}
		}
	}
}

// Vendor store page

.vendor-info-blocks {
	border: 1px solid darken(@base, 5%);
	padding: @pd !important;
	margin-bottom: @pd;
}
.ty-logo-container-vendor {
	margin-bottom: @pdi;
	
	&__image {
		max-height: 100px;
		width: auto;		
	}
}

// Vendor iformation block in vendor page

.ty-vendor-information {
    margin-top: @pdi;

    .ut2-vendor-name a {
	    display: inline-block;
	    font-size: 18px;
	    margin-bottom: 5px;
		.ajx-link();
    }
	.vendor_communication-btn {
		margin-top: @pdi;
	}
	h1, h2, h3, h4, h5, h6 {
		font-size: @body_font_size;
		margin-bottom: 0;
	}
}


// Vendor block in product

.ut2-vendor-block {
	display: flex;
    margin-bottom: @pdi;
    padding: @pdi;
    border: 1px solid darken(@base, 5%);  
    
/*
	background: fade(@decorative, 5%);
	
    .bg_color() when (@decorative = #ffffff) {
		border: 1px solid darken(@base, 5%);
    }
    .bg_color() when (lightness(@decorative) > 90%) {
		background: fade(@decorative, 30%);
    }
    .bg_color() when (lightness(@decorative) < 1%) {
		background: fade(@decorative, 5%);
    }
    .bg_color();
*/
    
	&__logo {
		margin-right: @pdi;
		.ty-no-image {
			display: none;
		}
	}
	&__content {
		
	}
	&__name {
		display: block;
		padding-bottom: 10px;
		
		label {
			display: inline;
			padding-right: 5px;
			font-weight: bold;
		}
		a {
			.ajx-link();
		}
	}
	&__info {
		margin-bottom: 5px;
		color: lighten(@font, 25%);
	}
	&__contacts {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	&__phone {
	    justify-content: flex-start;
	    flex: 1 50%;
	    white-space: nowrap;
	    font-size: 14px;
		color: lighten(@font, 25%);
		
		i {
			font-size: 16px;
			position: relative;
			top: 3px;
		}
	}
	.ty-vendor-communication__post-write {
	    justify-content: flex-end;
	    flex: 1 50%;
	    padding-top: 3px;
	    margin-top: 0 !important;
	}
}
.ut2-big-image {
	.ut2-vendor-block {
	    margin: 19px -25px -12px -25px;
// 		background: fade(@menu, 5%);
	    border-width: 1px 0 1px 0;
	    border-color: @base;
	    padding: 20px;
	    
	    & + .ab__mb_items {
		    margin-top: 11px;
		    margin-bottom: 0;
	    }
	}
}

// Sellers list in product

.ty-sellers-list {
	&__item {
		@media screen and (min-width: 768px) {
			padding: @pdi;
		}
	}
	&__image {
		width: 150px;
		min-width: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		
		img {
			max-height: 72px;	
		}
	}
	&__title {
		min-width: 120px;
	}
	&__controls {
		margin: 0;
	}
	&__price {
		margin-right: 20px;
		min-width: 120px;
		@media screen and (min-width: 768px) {
			margin-bottom: 0;
		}
	}
	&__buttons {
		.ty-btn {
			@media screen and (min-width: 768px) {
				margin-bottom: 0;
			}
		}
		.ty-add-to-wish {
			padding: 0;
			margin-left: 10px;
			i {
				margin: 0;
			}
		}
		.ty-qty-out-of-stock {
			padding-right: @pdi;
			padding: 0 @pdi 0 0;
			position: relative;
			top: -5px;
		}
	}
	.ty-control-group {
		@media screen and (min-width: 768px) {
			margin-bottom: 0;
		}
	}
}

// Grid vendors

.ty-grid-vendors {
	.ty-company-image-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		
		.ty-company-image {
			max-height: 100px;
		}
	}
	.grid-list__rating {
		display: flex;
		justify-content: center;
		margin-top: 10px;
		
		.ty-stars {
		    margin-bottom: 0;
		}
		.ty-discussion__review-quantity {
			color: @links;
		}
	}
	.ty-discussion__review-quantity {
		line-height: 18px;
		color: @lighten-font;
	}
}

// Vendors location

.ut2-vendors-location {
	position: relative;
	background: lighten(@base, 3%);
	margin-bottom: @pd;
	
	.ut2-filters {
		position: inherit;
		background: lighten(@base, 3%);
		padding: @pd 0 @pd @pd;
		
		.ty-product-filters__search {
		    padding: 0;
		    
			.ty-input-text-medium {
				outline: none !important;
				border-color: @primary_button;
				.transition(all 150ms);
				
				&:hover, &:focus {
					border-color: @primary_button;
					box-shadow: 0 0 0 2px fade(@primary_button, 10%);
				}
				
				.ut2_round(@round: 0);
				.ut2_round(@round: 4px) when (@abt__ut2_general_use_rounding = little) {
					.border-radius(@round);
				}
				.ut2_round(@round: 4px) when (@abt__ut2_general_use_rounding = full) {
					.border-radius(@round);
				}
				.ut2_round();
			}
			
			.ty-vendors-locations-use-my-location {
				font-size: 16px;
				color: @primary_button;
				right: 10px;
				top: 50%;
				margin-top: -8px;
			}

		}
	}
	.ty-product-filters__tools {
		position: absolute;
		bottom: @pd;
	}
}