// Grid video label

.ab__vg-icon-video {
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 5px;
    width: 15px;
    top: 3px;
    z-index: 1;
}
.ty-compact-list {
    img.ab__vg-icon-video {
		width: 14px;
		margin: 3px 5px 0px 0;
    }
}
.ut2-mid-narrow img.ab__vg-icon-video {
    margin-right: 3px;
    width: 14px;
    top: 4px;	
}
.ut2-min-narrow img.ab__vg-icon-video {
	margin-right: 3px;
    width: 14px;
    top: 3px;
}

// Product tabs
.ab__video_gallery-block {
  margin: 0 -10px;
}

.ab__vg-videos {
    clear: both;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.ab__vg-video {
    width: 33.333333%;
    padding: 10px;
    display: inline-block;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ab__vg-video_thumb {
    display: inline-block;
    position: relative;
    width: 100%;
    img {
	    width: 100%;
    }
    &:before {
        content: "";
        display: inline-block;
        width: 50px;
        height: 50px;
        background: url('/images/addons/ab__video_gallery/youtube_logo.png') no-repeat center;
        background-size: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -25px 0 0 -25px;
        .opacity(95);
    }
    &:after {
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.05);
    }
    &:hover {
        &:before {
            .opacity(100);
        }
        &:after {
            background: rgba(0, 0, 0, 0.02);
            -webkit-transition: background .3s;
            transition: background .3s;
        }
    }
}
.ab__vg-video_title p {
    font-size: 14px;
    padding: 10px 0 0;
}
.ab__vg-video_description p {
    color: @lighten-font;
    font-size: 12px;
}
.ab__vg-image_gallery_item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    background: @base;
    img {
	    padding: 8px;
    }
    &.active {
        background: @base5;
    }
}
.ab__vg_loading img {
    width: 100%;
}

// Product detail
.ty-product-block__img-wrapper {
	.ab__vg-image_gallery_video {
		img {
			width: 100%;
			height: auto;
		}
	}
	iframe.ab__vg-image_gallery_video {
		width: 100%;
		position: relative;
		z-index: 2;
	}
}
.ab__vg-image_gallery_video {
	cursor: pointer;
	&:before {
		content: "";
		display: inline-block;
		width: 60px;
		height: 50px;
		background: url('/images/addons/ab__video_gallery/youtube_logo.png') no-repeat center;
		background-size: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -25px 0 0 -30px;
		.opacity(95);
	}
	&:hover:before {
		.opacity(100);
		.transition(opacity 100ms linear);
	}
}
.ut2-pb {
	.ty-product-thumbnails {
		
		@media screen and ( min-width: 768px ) {
			&[class*="vertical"] {
				justify-content: flex-start;
			}
		}
		
        &__item {
	        margin: 2px;
            &:not(.gallery) {
                @media screen and ( min-width: 767px ) {
                    &:first-child, &:nth-child(7n) {
                        margin-top: 0;
                    }
                }
                @media screen and ( max-width: 768px ) {
                	max-width: 50px;
                }
            }
        }
        &.jcarousel-skin {
	        .ty-product-thumbnails__item {
		        display: inline-block;
		        margin: 0 0 2px 0;
	        }
	    }
    }
}

// Quick view
.ty-quick-view__wrapper {
	.ty-product-thumbnails:not(.owl-carousel) {
	    margin-bottom: @pdi;
	    
	    .ty-product-thumbnails__item:not(.gallery) {
			max-width: 15%;
			min-width: 40px;
		}
	}
}

// Vertical gallery
.ty-product-thumbnails {
	margin-top: 0;
    &.ab-vg-vertical-thumbnails {
	   margin-top: 0; 
    }
}	
.ty-product-thumbnails_gallery {
    &.ab-vg-vertical-thumbnails {
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    -webkit-box-pack: start;
		justify-content: flex-start;
		overflow: hidden;
		.ab-vertical-gallery-mixin;
	    
        .cm-image-gallery {
            .ab-vertical-gallery-mixin;
            
            .cm-item-gallery {
                margin: 0;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                & > a {
                    margin: 0;
                }
            }
        }
        //.ty-thumbnails_gallery {
	    //    margin-top: 0 !important;
	    //    position: relative;
        //}
        .ty-product-thumbnails {
	        margin-top: -2px;
        }
    	.ty-hand {
	    	display: inline-block;
	    	width: 100%;
			padding: 3px;
		    background: @base;
		    -webkit-transition: all .3s;
            transition: all .3s;
		    
		    &:first-child {
			    margin-bottom: 3px;
			    //visibility: hidden;
			    //position: absolute;
			    //left: 0;
			    //top: 0;
			    //z-index: 2;
			    //.opacity(90);
		    }
		    &:last-child {
			    margin-top: 3px;
		    }
		    &:hover {
			    color: @links;
			    .opacity(100);
		    }
	    }
	    &:focus .ty-hand {
		    &:first-child {
			    visibility: visible;
		    }		    
	    }
    }
}
.ab-vertical, .ab-vg-vertical {
	float: right;
}
@media screen and ( max-width: 767px ) {
	.ab-vertical, .ab-vertical-thumbnails, .ab-vg-vertical, .ab-vg-vertical-thumbnails {
		width: 100% !important;
		position: inherit;
	}
	.ab-vg-j-product_labels {
		margin-left: 0 !important;
	}
	.ab-vg-product_labels {
		margin-left: 0 !important;
	}
}

.ab-vertical-gallery-mixin() {
    @media screen and ( min-width: 767px ) {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: 0;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;    
    }
}

@media screen and (max-width: 1280px) {
    .ab__vg-video {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .ab__vg-video {
        width: 100%;
    }
    // Pop up
	.ty-product-img .ui-dialog {
		margin: 0 -20px;
		iframe {
		    max-width: 100%;
		    min-height: 240px;
		    height: auto;
		    margin-bottom: 15px;
		}
	}
}

@media screen and (max-width: 767px) {
  .ab__vg_video_popup iframe {
    width: 100% !important;
    height: auto !important;
    min-height: 250px;
  }
}

// load hidden and make visible
.cm-ab__vg-gallery {
  opacity: 0;
  &.ab__vg_loaded {
    opacity: 1;
  }
}