/*******************************************************************************************
*   ___  _          ______                     _ _                _                        *
*  / _ \| |         | ___ \                   | (_)              | |              © 2019   *
* / /_\ | | _____  _| |_/ /_ __ __ _ _ __   __| |_ _ __   __ _   | |_ ___  __ _ _ __ ___   *
* |  _  | |/ _ \ \/ / ___ \ '__/ _` | '_ \ / _` | | '_ \ / _` |  | __/ _ \/ _` | '_ ` _ \  *
* | | | | |  __/>  <| |_/ / | | (_| | | | | (_| | | | | | (_| |  | ||  __/ (_| | | | | | | *
* \_| |_/_|\___/_/\_\____/|_|  \__,_|_| |_|\__,_|_|_| |_|\__, |  \___\___|\__,_|_| |_| |_| *
*                                                         __/ |                            *
*                                                        |___/                             *
* ---------------------------------------------------------------------------------------- *
* This is commercial software, only users who have purchased a valid license and  accept   *
* to the terms of the License Agreement can install and use this program.                  *
* ---------------------------------------------------------------------------------------- *
* website: https://cs-cart.alexbranding.com                                                *
*   email: info@alexbranding.com                                                           *
*******************************************************************************************/
.ab-smc-description {
position: relative;
overflow: hidden;
.box-sizing(content-box);
.ab-smc-more {
position: absolute;
left: 0;
right: 0;
bottom: 0;
z-index: 10;
padding: 7px 0 2px;
color: @links;
background: @general_bg_color;
.transition(0.7s ease);
&:after {
content: "";
position: absolute;
left: 0;
right: 0;
bottom: 100%;
height: 3em;
z-index: -1;
@startColor: @general_bg_color;
@endColor: fade(@general_bg_color, 0);
background-image: linear-gradient(to top, @startColor, @endColor); // Standard, IE10
background-repeat: repeat-x;
}
span {
cursor: pointer;
position: relative;
z-index: 1;
font-size: 16px;
&:before{
content: "";
position: absolute;
width: 100%;
height: 1px;
bottom: 1px;
border-bottom: 1px dotted;
}
}
i {
font-size: 20px;
display: inline-block;
position: relative;
width: 10px;
height: 10px;
margin: 0 7px;
.transition(0.7s ease);
&:after {
content: "\e01d";
position: absolute;
font-family: glyphs;
font-style: normal;
line-height: 0;
top: 56%;
left: 3%;
}
}
&.ab-smc-opened {
&:after {
display: none;
}
i {
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
-ms-transform: rotate(180deg);
-o-transform: rotate(180deg);
transform: rotate(180deg);
}
}
&.ab-smc-right-text {
text-align: right;
}
&.ab-smc-center-text {
text-align: center;
}
&:hover {
color: lighten(@links, 8%);
}
}
&.ab-smc-button-set {
.ab-smc-more {
span {
line-height: 100%;
font-size: 12px;
&:before {
display: none;
}
}
i { display: none }
}
}
span.ab-smc-text-2 {
position: static;
padding: 0 15px;
background: @general_bg_color;
& ~ .ab-smc-arrow {
display: none;
}
&:before {
display: none;
}
&:after {
content: '';
position: absolute;
top: 60%;
left: 0;
right: 0;
z-index: -1;
height: 1px;
border-bottom: 1px dashed @links;
}
}
}