{if $auth.user_id}
<li class="ty-account-info__item ty-dropdown-box__item"><a class="ty-account-info__a underlined" href="{"ec_booking_classes.manage"|fn_url}" rel="nofollow">{__("ec_book_classe_info")}</a></li>

<li class="ty-account-info__item ty-dropdown-box__item"><a class="ty-account-info__a underlined" href="{"ec_booking_classes.child_manage"|fn_url}" rel="nofollow">{__("ec_book_classe_add_child")}</a></li>
{/if}