{assign var="th_size" value=$addons.ab__video_gallery.th_size|default:50}
{capture name="abt__ut2_vertical_gallery_width"}{if ($product.image_pairs|count + $ab__vg_videos|count) > 6 && $settings.Appearance.thumbnails_gallery == "N"}{$th_size* 2+25}{else}{$th_size+12}{/if}{/capture}

{if $product.main_pair.icon || $product.main_pair.detailed}
    {assign var="image_pair_var" value=$product.main_pair}
{elseif $product.option_image_pairs}
    {assign var="image_pair_var" value=$product.option_image_pairs|reset}
{/if}

{if $image_pair_var.image_id}
    {assign var="image_id" value=$image_pair_var.image_id}
{else}
    {assign var="image_id" value=$image_pair_var.detailed_id}
{/if}

{$is_vertical = (($runtime.mode != 'quick_view') && ($addons.ab__video_gallery.vertical == 'Y'))}

{if !$preview_id}
    {assign var="preview_id" value=$product.product_id|uniqid}
{/if}

{$ab__vg_videos = $product.product_id|fn_ab__vg_get_videos}
{$ab__vg_settings = $product.product_id|fn_ab__vg_get_setting}

<div class="ab_vg-images-wrapper clearfix">
<div class="ab-{if $is_vertical}vg-{/if}{if $settings.Appearance.thumbnails_gallery == "Y"}j-{/if}product_labels" {if $product.image_pairs && $is_vertical && ($product.image_pairs|count + $ab__vg_videos|count) >= 1}style="margin-left: {$smarty.capture.abt__ut2_vertical_gallery_width + 13}px"{/if}>
    {assign var="product_labels" value="product_labels_`$obj_prefix``$obj_id`"}
    {$smarty.capture.$product_labels nofilter}
</div>

<div id="product_images_{$preview_id}" class="ty-product-img cm-preview-wrapper {if $is_vertical}ab-{if $settings.Appearance.thumbnails_gallery == "Y"}vg-{/if}vertical{/if}" {if $is_vertical && ($product.image_pairs|count + $ab__vg_videos|count) >= 1}style="width: -webkit-calc(100% - {$smarty.capture.abt__ut2_vertical_gallery_width}px);width: calc(100% - {$smarty.capture.abt__ut2_vertical_gallery_width}px)"{/if}>

    {* print video_tumbs to var *}
    {capture name="ab__vg_videos"}
        {if $ab__vg_videos}
            {$ab__video_width = $settings.Thumbnails.product_details_thumbnail_width|default:0}
            {$ab__video_height = $settings.Thumbnails.product_details_thumbnail_height|default:{$ab__video_width*3/4}|ceil}
            {if !$ab__video_width}
                {$ab__video_width = {$ab__video_height*4/3}|ceil}
            {/if}

            {foreach $ab__vg_videos as $video}
                {if $addons.ab__video_gallery.on_thumbnail_click == 'image_replace'}
                    <div id="det_img_link_{$preview_id}_{$video.video_id}" class="ab__vg_loading ab__vg-image_gallery_video cm-image-previewer{if $ab__vg_settings.replace_image != "Y" || $video@iteration > 1} hidden{/if}" data-width="{$ab__video_width|default:$video.width}" data-height="{$ab__video_height|default:$video.height}" data-src="{include file="addons/ab__video_gallery/components/build_url.tpl" youtube_id=$video.youtube_id}" data-frameborder="0" data-allowfullscreen="1">
                        {include file="addons/ab__video_gallery/components/thumbnail.tpl" video=$video width=$ab__video_width|default:$video.width height=$ab__video_height|default:$video.height}
                    </div>
                {else}
                    <a id="det_img_link_{$preview_id}_{$video.video_id}" class="ab__vg-image_gallery_video cm-image-previewer cm-dialog-opener cm-dialog-auto-size{if $ab__vg_settings.replace_image != "Y" || $video@iteration > 1} hidden{/if}" data-ca-target-id="ab__vg_video_{$video.video_id}" rel="nofollow">
                        {$video.icon_type = 'snapshot'}
                        {include file="addons/ab__video_gallery/components/thumbnail.tpl" video=$video width=$ab__video_width|default:$video.width height=$ab__video_height|default:$video.height}
                    </a>
                {/if}
            {/foreach}
        {/if}
    {/capture}

    {* output videos before images *}
    {if $addons.ab__video_gallery.position == 'pre'}
        {$smarty.capture.ab__vg_videos nofilter}
    {/if}

    {include file="common/image.tpl" obj_id="`$preview_id`_`$image_id`" images=$image_pair_var link_class="cm-image-previewer{if $ab__vg_videos && $ab__vg_settings.replace_image == "Y"} hidden{/if}" image_width=$image_width image_height=$image_height image_id="preview[product_images_`$preview_id`]"}

    {foreach from=$product.image_pairs item="image_pair"}
        {if $image_pair}
            {if $image_pair.image_id}
                {assign var="img_id" value=$image_pair.image_id}
            {else}
                {assign var="img_id" value=$image_pair.detailed_id}
            {/if}
            {include file="common/image.tpl" images=$image_pair link_class="cm-image-previewer hidden" obj_id="`$preview_id`_`$img_id`" image_width=$image_width image_height=$image_height image_id="preview[product_images_`$preview_id`]"}
        {/if}
    {/foreach}

    {* output videos after images *}
    {if $addons.ab__video_gallery.position == 'post'}
        {$smarty.capture.ab__vg_videos nofilter}
    {/if}
</div>

{* Video popups content. For tab with videos or for popup onclick *}
{foreach $ab__vg_videos as $video}
    <div id="ab__vg_video_{$video.video_id}" class="ab__vg_video_popup cm-popup-box hidden" title="{$video.title}">
        <div style="{if $video.width}width:{$video.width}px;{/if}{if $video.height}height:{$video.height}px{/if}" {if $video.width}data-width="{$video.width}"{/if} {if $video.height}data-height="{$video.height}"{/if} class="ab__vg_loading" data-src="{include file="addons/ab__video_gallery/components/build_url.tpl" youtube_id=$video.youtube_id}" data-frameborder="0" data-allowfullscreen="1">
            {include file="addons/ab__video_gallery/components/thumbnail.tpl" video=$video width=$video.width height=$video.height}
        </div>
    </div>
{/foreach}

{$image_classes="cm-gallery-item cm-thumbnails-mini ty-product-thumbnails__item"}
{if $product.image_pairs || $ab__vg_videos}
    {$image_counter = -1}
    {if $settings.Appearance.thumbnails_gallery == "Y"}
        {$image_classes="`$image_classes` gallery"}
        <input type="hidden" name="no_cache" value="1" />
        {strip}
            <div class="ty-center ty-product-thumbnails_gallery{if $is_vertical} ab-vg-vertical-thumbnails{/if}" {if $is_vertical}style="width: {$smarty.capture.abt__ut2_vertical_gallery_width - 4}px"{/if}>
                <div class="cm-image-gallery-wrapper ty-thumbnails_gallery ty-inline-block">
                    {strip}
                        <div class="ty-product-thumbnails cm-ab__vg-gallery"
                             id="images_preview_{$preview_id}"
                             data-ca-cycle="{$addons.ab__video_gallery.cycle}"
                             data-ca-vertical="{if $is_vertical}Y{else}N{/if}"
                             data-ca-main-image-height="{$image_height}"
                        >
                            {if $ab__vg_videos && $addons.ab__video_gallery.position == 'pre'}
                                {foreach $ab__vg_videos as $video}
                                    {$image_counter = $image_counter + 1}
                                    <div class="cm-item-gallery">
                                        <a data-ca-gallery-large-id="det_img_link_{$preview_id}_{$video.video_id}" class="ab__vg-image_gallery_item cm-gallery-item cm-thumbnails-mini ty-product-thumbnails__item gallery {if $ab__vg_settings.replace_image == "Y" && $video@iteration == 1} active{/if}" data-ca-image-order="{$image_counter}" data-ca-parent="#product_images_{$preview_id}">
                                            <img src="{$images_dir}/addons/ab__video_gallery/youtube_logo.png" width="{$th_size}" height="{$th_size}" alt="{$video.title|strip_tags}" />
                                        </a>
                                    </div>
                                {/foreach}
                            {/if}

                            {if $image_pair_var}
                                {$image_counter = $image_counter + 1}
                                <div class="cm-item-gallery">
                                    <a data-ca-gallery-large-id="det_img_link_{$preview_id}_{$image_id}" class="cm-gallery-item cm-thumbnails-mini ty-product-thumbnails__item gallery {if !$ab__vg_videos || $ab__vg_settings.replace_image != "Y"} active{/if}" data-ca-image-order="{$image_counter}" data-ca-parent="#product_images_{$preview_id}">
                                        {include file="common/image.tpl" ab__vg_gallery_image=true images=$image_pair_var image_width=$th_size image_height=$th_size show_detailed_link=false obj_id="`$preview_id`_`$image_id`_mini"}
                                    </a>
                                </div>
                            {/if}
                            {if $product.image_pairs}
                                {foreach from=$product.image_pairs item="image_pair"}
                                    {$image_counter = $image_counter + 1}
                                    {if $image_pair}
                                        <div class="cm-item-gallery">
                                            {if $image_pair.image_id}
                                                {assign var="img_id" value=$image_pair.image_id}
                                            {else}
                                                {assign var="img_id" value=$image_pair.detailed_id}
                                            {/if}
                                            <a data-ca-gallery-large-id="det_img_link_{$preview_id}_{$img_id}" class="cm-gallery-item cm-thumbnails-mini ty-product-thumbnails__item gallery" data-ca-image-order="{$image_counter}" data-ca-parent="#product_images_{$preview_id}" >
                                                {include file="common/image.tpl" ab__vg_gallery_image=true images=$image_pair image_width=$th_size image_height=$th_size show_detailed_link=false obj_id="`$preview_id`_`$img_id`_mini"}
                                            </a>
                                        </div>
                                    {/if}
                                {/foreach}
                            {/if}

                            {if $ab__vg_videos && $addons.ab__video_gallery.position == 'post'}
                                {foreach $ab__vg_videos as $video}
                                    {$image_counter = $image_counter + 1}
                                    <div class="cm-item-gallery">
                                        <a data-ca-gallery-large-id="det_img_link_{$preview_id}_{$video.video_id}" class="ab__vg-image_gallery_item cm-gallery-item cm-thumbnails-mini ty-product-thumbnails__item gallery {if $ab__vg_settings.replace_image == "Y" && $video@iteration == 1} active{/if}" data-ca-image-order="{$image_counter}" data-ca-parent="#product_images_{$preview_id}">
                                            <img src="{$images_dir}/addons/ab__video_gallery/youtube_logo.png" width="{$th_size}" height="{$th_size}" alt="{$video.title|strip_tags}" />
                                        </a>
                                    </div>
                                {/foreach}
                            {/if}

                        </div>
                    {/strip}
                </div>
            </div>
        {/strip}
    {else}
        <div class="ty-product-thumbnails ty-center cm-ab__vg-gallery{if $is_vertical} ab-{if $settings.Appearance.thumbnails_gallery == "Y"}vg-{/if}vertical-thumbnails{/if}" {if $is_vertical}style="width: {$smarty.capture.abt__ut2_vertical_gallery_width - 1}px"{/if} id="images_preview_{$preview_id}">
            {strip}

                {if $ab__vg_videos && $addons.ab__video_gallery.position == 'pre'}
                    {foreach $ab__vg_videos as $video}
                        {$image_counter = $image_counter + 1}
                        <a data-ca-gallery-large-id="det_img_link_{$preview_id}_{$video.video_id}" class="ab__vg-image_gallery_item ty-product-thumbnails__item cm-thumbnails-mini{if $ab__vg_settings.replace_image == "Y" && $video@iteration == 1} active{/if}" data-ca-image-order="{$image_counter}" data-ca-parent="#product_images_{$preview_id}">
                            <img src="{$images_dir}/addons/ab__video_gallery/youtube_logo.png" width="{$th_size}" height="{$th_size}" alt="{$video.title|strip_tags}" />
                        </a>
                    {/foreach}
                {/if}

                {if $image_pair_var}
                    {$image_counter = $image_counter + 1}
                    <a data-ca-gallery-large-id="det_img_link_{$preview_id}_{$image_id}" class="cm-thumbnails-mini ty-product-thumbnails__item{if !$ab__vg_videos || $ab__vg_settings.replace_image != "Y"} active{/if}" data-ca-image-order="{$image_counter}" data-ca-parent="#product_images_{$preview_id}">
                        {include file="common/image.tpl" ab__vg_gallery_image=true images=$image_pair_var image_width=$th_size image_height=$th_size show_detailed_link=false obj_id="`$preview_id`_`$image_id`_mini"}
                    </a>
                {/if}

                {if $product.image_pairs}
                    {foreach from=$product.image_pairs item="image_pair"}
                        {$image_counter = $image_counter + 1}
                        {if $image_pair}
                            {if $image_pair.image_id == 0}
                                {assign var="img_id" value=$image_pair.detailed_id}
                            {else}
                                {assign var="img_id" value=$image_pair.image_id}
                            {/if}
                            <a data-ca-gallery-large-id="det_img_link_{$preview_id}_{$img_id}" class="cm-thumbnails-mini ty-product-thumbnails__item" data-ca-image-order="{$image_counter}" data-ca-parent="#product_images_{$preview_id}">
                                {include file="common/image.tpl" ab__vg_gallery_image=true images=$image_pair image_width=$th_size image_height=$th_size show_detailed_link=false obj_id="`$preview_id`_`$img_id`_mini"}
                            </a>
                        {/if}
                    {/foreach}
                {/if}

                {if $ab__vg_videos && $addons.ab__video_gallery.position == 'post'}
                    {foreach $ab__vg_videos as $video}
                        {$image_counter = $image_counter + 1}
                        <a data-ca-gallery-large-id="det_img_link_{$preview_id}_{$video.video_id}" class="ab__vg-image_gallery_item ty-product-thumbnails__item cm-thumbnails-mini{if $ab__vg_settings.replace_image == "Y" && $video@iteration == 1} active{/if}" data-ca-image-order="{$image_counter}" data-ca-parent="#product_images_{$preview_id}">
                            <img src="{$images_dir}/addons/ab__video_gallery/youtube_logo.png" width="{$th_size}" height="{$th_size}" alt="{$video.title|strip_tags}" />
                        </a>
                    {/foreach}
                {/if}

            {/strip}
        </div>
    {/if}
{/if}
</div>

{include file="common/previewer.tpl"}

{script src="js/addons/ab__video_gallery/product_image_gallery.js?v201"}

{hook name="products:product_images"}{/hook}