{if "MULTIVENDOR"|fn_allowed_for && $auth.user_id && $auth.user_type != 'V'}
    <li class="ty-account-info__item ty-dropdown-box__item"><a class="ty-account-info__a underlined" href="{"vendor_communication.threads"|fn_url}" rel="nofollow" >{__("vendor_communication.messages")}</a></li>
{/if}