/*hide store locator fields*/

#elm_latitude {
    display: none;
}

#elm_longitude {
    display: none;
}

#content_pickup {
    display: none;
}

#content_detailed fieldset > div:nth-child(2) {
    display: none;
}

/*#content_detailed fieldset > div:nth-child(10) div {
    display: none;
}*/

#store_locator_picker_opener {
    display: inline-block;;
}

/*hide category input*/
.object-categories-add__picker {
    right: unset;
}

.select2-search.select2-search--inline {
    display: none;
}

.select2.select2-container.select2-container--default.ui-sortable {
    padding-left: 40px;
}