.close{
    right: 15px;
}
.ec_booking_template{
    .ut2-pb__title {
        margin: 0 0 20px 0px;
    }
    .ec_vendor_name{
        margin-bottom: 5px;
        flex: 1;
    }
    .ec_recomded_price_label, .ec_actual_price_labels{
        //font-weight: 600;
        font-size: 15px;
        margin-right: 5px;
    }
    .ut2-pb__price-actual{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .ut2-pb__button{
        margin: 10px 0 10px;
    }
    @media screen and (max-width: 768px){
        .ut2-pb__img-wrapper {
            margin-bottom: 15px;
        }
        .ut2-pb__right {
            margin-bottom: 0px;
        }
    }
    .ec_company_address{
        font-size: 12px;
        margin-top: 5px;
        margin-left: -1px;
    }
    .ty-icon-pointer{
        font-size: 10px;
    }
    .ec_vendor_block{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 15px;
    }
    .ec_product_feature{
        border: 1px solid #e0d6d6;
        margin-bottom: 15px;
        .ty-product-feature__label{
            color: @font;
        }
    }
    .ut2-pb .ty-product-img{
        width: auto !important;
    }

    .ec_bottom_product_div{
        flex: 1;
        form{
            max-width: 237px;
            margin: 0 auto;
        }
        // display: flex;
        // flex-wrap: wrap;
        // width: 100%;
        // align-items: center;
        @media(min-width: 768px){
            flex: 1 20%;
            max-width: 25%;
            & > div{
               
            }
          
        }
        @media(max-width: 767px){
            & > div{
                width: 100%;
            }
        }
    }
    .ec_calender_header{
        text-align: center;
        margin-bottom: 15px;
        // margin-top: 20px;
        font-weight: 600;
        font-size: 17px;
    }
    .ec_calender_container_div{
        
    }
    #datepickertemp{
        margin-bottom: 25px;
    }
    .ut2-pb .cols-wrap{
        display: initial;
    }
    #datepickertemp{
        .ui-datepicker td span, .ui-datepicker td a{
            line-height: 16px;
        }
        .ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all{
            min-height: 252px;
            max-width: 237px;
            margin: 0 auto;
        }
    }
    .ui-datepicker-title{
        line-height: 2em !important;
    }
    .ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled{
        opacity: .65;
    }
    
    .ec_book_btn_div a{
        max-width: 200px;
    }
    
    
    //image//
    @media screen and (min-width: 769px){
        .ut2-pb__img-wrapper {
            max-width: 33.3%;
        }
        .ut2-pb__right{
            flex: 1 50%;
            max-width: 43.7%;
        }
        .ec_bottom_product_div{
            flex: 1 22%;
            max-width: 22%;
        }
    }
    .ec_vendor_detail_block{
        width: 100%;
        .ty-company-detail__info{
            margin-top: 0;
        }
        .vendor_logo{
            margin-top: 0;
        }
    }
    .ec_product_desc_div, .ec_vendor_detail_block{
        padding: 15px;
        width: 100%;
        margin: 0 0 25px 0;
        -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        -moz-box-shadow: 0 0 10px 0 rgba(104, 49, 49, 0.2);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    }
    //breadcrumbs//
        .ec_breadcrumbs{
            margin-top: 20px;
            position: relative;
            margin-bottom: 20px;
        }
        @base: 20px;
        .breadcrumb {
            display: flex;
            border-radius: 6px;
            overflow: auto;
            margin: auto;
            text-align: center;
            //top: 50%;
            width: 100%;
            // max-width: 1200px;
            height: @base * 1.5;
            //transform: translateY(-50%);
            box-shadow: 0 1px 1px #929292, 0 4px 14px rgba(130, 128, 128, 0.7);
            background-color: #ddd;
            font-size: 14px;
        }
        .ec_disabled_link{
            pointer-events: none;
        }
        .breadcrumb a {
            position: relative;
            display: flex;
            //flex-grow: 1;
            text-decoration: none;
           // margin: auto;
            height: 100%;
            padding-left: @base;
            padding-right: 10px;
            color: #666;
        }

            .breadcrumb a:first-child {
                padding-left: @base / 2.5;
            }

            .breadcrumb a:last-child {
                padding-right: @base / 2.5;
            }

            .breadcrumb a:after {
                content: "";
                position: absolute;
                display: inline-block;
                width: @base * 1.5;
                height: @base * 1.5;
                top: 0;
                right: @base / 1.35 * -1;
                background-color: #ddd;
                border-top-right-radius: 5px;
                transform: scale(0.707) rotate(45deg);
                box-shadow: 1px -1px rgba(0,0,0,0.25);
                z-index: 1;
            }

                .breadcrumb a:last-child:after {
                    content: none;
                }

        .breadcrumb__inner {
            display: flex;
            flex-direction: column;
            margin: auto;
            z-index: 2;
        }

            .breadcrumb__title {
                font-weight: bold;
            }
    a{
        transition: none;
    }
    .breadcrumb a.active, .breadcrumb a:hover, .breadcrumb a.active:after, .breadcrumb a:hover:after{
        background: darken(#56c4dd, 20%);
        color: white;
    }

    // 1000px
    ///////////////////////
    @media all and (max-width: 1000px) {
        .breadcrumb {
            font-size: 12px;
        }
    }

    // 710px
    ///////////////////////
    @media all and (max-width: 710px) {
        .breadcrumb__desc {
            display: none;
        }
        
        .breadcrumb {
            height: @base*1.5;
        }
        
        .breadcrumb a {
            padding-left: @base / 1.5;
        }
        
        .breadcrumb a:after {
                content: "";
                width: @base * 1.5;
                height: @base * 1.5;
                right: @base / 2 * -1;
                transform: scale(0.707) rotate(45deg);
            }
    }
}