
html[dir="rtl"] {
    .ui-widget-content.ui-dialog {
        left: inherit;
    }
    .ty-icon-right-circle:before {
        content: "\e00e";
    }
    .ty-icon-left-circle:before {
        content: "\e00f";
    }
    .ty-horizontal-filters-content-to-right {
        right: auto;
        left: 0;
    }
    .ty-horizontal-product-filters-dropdown a .ty-icon-cancel-circle {
        padding-right: 5px;
    }
    .ty-cart-items__list-item-desc p span {
        float: left;
    }
    .ty-pagination__text-arrow:before {
        content: "→";
    }
    .ty-pagination__next .ty-pagination__text-arrow:before {
        content: "←";
    }
    .ty-icon-right-dir:before {
        content: "\e003";
    }
    .ty-icon-right-open:before {
        content: "\e01a";
    }
    .ty-pagination__right-arrow .ty-pagination__text-arrow:before {
        content: "←";
    }

    .ty-price-slider {

        &__inputs {
            display: flex;
            flex-direction: row-reverse;
            align-items: baseline;
            justify-content: flex-end;
            padding: 0;
        }
        
        &__bidi-container {
            display: inline-block;
            vertical-align: middle;
        }

        &__input-text {
            float: left;
        }

        &__filter-prefix {
            display: inline-block;
            margin: 0px 5px;
            padding: 5px 0px;
            vertical-align: middle;
        }
    }

    .ty-order-info__profile-field-item {
        &.b-phone,
        &.s-phone {
            direction: rtl;
        }
    }

    .ty-control-group.ty-profile-field__item {
        &.ty-billing-phone input,
        &.ty-billing-address-line2 input,
        &.ty-shipping-phone input,
        &.ty-shipping-address-line2 input {
            direction: rtl !important;
            text-align: left !important;
        }
    }

    [name="payment_info[customer_phone]"] {
        direction: rtl !important;
        text-align: left !important;
    }
    
    .ty-inputmask-bdi {
        direction: rtl !important;
        text-align: left !important;
    }

    @media (max-width: 480px) {
        .ui-datepicker {
            left: 0 !important;
            right: 0 !important;
        }
    }

    /** Fix old-owlcarousel non-adaptive for RTL **/
    .owl-wrapper-outer {
        direction: rtl !important;
    }

    .ty-scroller-list.grid-list.ty-scroller-advanced.owl-theme {
        .owl-controls {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            -webkit-box-orient: horizontal;

            -webkit-box-direction: reverse;
               -ms-flex-direction: row-reverse;
                   flex-direction: row-reverse;

            -webkit-box-pack: center;
             justify-content: center;
               -ms-flex-pack: center;

        }
    }

    .owl-controls > .owl-buttons {
        direction: ltr;
        
        .owl-prev {
            float: right;
        }
        .owl-next {
            float: left;
        }
    }

    .ty-thumbs-wrapper {
        .ty-icon-left-circle {
            right: 3px;
            left: auto;
            left: unset;

            &::before {
                content: "\e00e";
            }
        }
        .ty-icon-right-circle {
            left: 3px;
            right: auto;
            right: unset;

            &::before {
                content: "\e00f";
            }
        }
    }
    /** /Fix old-owlcarousel non-adaptive for RTL **/

    .ty-social-buttons__inline {
        .pinterest__wrapper a {
            background-position-x: ~"calc(100% - 4px)";
            padding: 0;
            padding-right: 4px;
        }
    }
    
    // Uni2
    
    .icon-right-dir {
		.rotate(180deg); 
    }
    
    .owl-theme {
		.owl-controls:not(.owl-controls-outside) {
		    .owl-buttons {
			    .owl-prev i {
				   .rotate(180deg); 
			    }
			    .owl-next i {
				    .rotate(-180deg);
			    }
			    i:before, i:after {
				    margin: 0;
			    }
		    }
	    }
	    .ut2-gl {
		    &__price {
			    align-items: flex-end;
		    }
		    &__rating {
			    justify-content: flex-end;
		    }	    
	    }
		.ty-product-labels {
		    align-items: flex-start;
		    &__content em {
			    margin-left: 0;
				margin-right: 3px;
			}
	    }
    }

    .ut2-pl__feature .ty-control-group span:before,
    .ut2-pl__feature .ty-control-group em:before,
    .ut2-gl__feature .ty-control-group span:before,
    .ut2-gl__feature .ty-control-group em:before,
    .ty-features-list .ty-control-group span:before,
    .ty-features-list .ty-control-group em:before {
		.box-shadow(none);
    }
    
    .ab__deal_of_the_day {
		.ut2-gl__rating {
		    justify-content: center;
	    }
    }
    .flip-clock-divider .flip-clock-label {
	    left: auto;
	    right: 50%;
    }
}