.ab-smc-description {
    position: relative;
    overflow: hidden;
    padding-bottom: 30px;
    .ab-smc-more {
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 10;
        padding: 7px 0 2px;
        color: @links;
        background: @general_bg_color;
        .transition(0.7s ease);
        &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 100%;
            height: 3em;
            z-index: -1;

            @startColor: @general_bg_color;
            @endColor: fade(@general_bg_color, 0);

            background-image: linear-gradient(to top, @startColor, @endColor); // Standard, IE10
            background-repeat: repeat-x;

        }
        span {
            cursor: pointer;
            position: relative;
            z-index: 1;
            font-size: 16px;
            &:before{
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                bottom: -1px;
                border-bottom: 1px dotted;
                border-color: lighten(@links, 30%);
            }
        }
        i {
            font-size: 11px;
            display: inline-block;
            position: relative;
            z-index: 1;
            width: 12px;
            height: 12px;
            margin: 0 4px;
            .transition(0.7s ease);
            bottom: -1px;
            &:after {
                content: "\e906";
                position: absolute;
                font-family: 'unitheme';
                font-style: normal;
                line-height: 0;
                top: 55%;
                left: 4%;
                -webkit-font-smoothing: none;
                -moz-osx-font-smoothing: inherit;
            }
        }
        &.ab-smc-opened {
            &:after {
                display: none;
            }
            i {
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
        &.ab-smc-right-text {
            text-align: right;
        }
        &.ab-smc-center-text {
            text-align: center;
        }
        &:hover {
            color: lighten(@links, 8%);
        }
    }
    &.ab-smc-opened {
        .box-sizing(content-box);
    }
    &.ab-smc-button-set {
        .ab-smc-more {
            span {
                color: @menu_links;
                font-size: 12px;
                line-height: 100%;
                &:before {
                    display: none;
                }
            }
            i { display: none }
        }
    }
    span.ab-smc-text-2 {
        position: static;
        padding: 0 15px;
        background: @general_bg_color;
        & ~ .ab-smc-arrow {
            display: none;
        }
        &:before {
            display: none;
        }
        &:after {
            content: '';
            position: absolute;
            top: 60%;
            left: 0;
            right: 0;
            z-index: -1;
            height: 1px;
            border-bottom: 1px dashed @links;
        }
    }
}