
.day-open{
    /*background-color: green;*/
}
.day-close{
    /*background-color: red;*/
}
.open-close-radio{
    display: inline;
}
.margin-right{
	margin-right: 5px;
}
.multiple_buttons_slots a{
	font-size: 20px;
}
.multiple_buttons_slots .ty-icon-cancel-circle{
	font-size: 20px;
}
.no-right-border{
	border-right: 0px;
}

.time_slot_table .time{
	width: 72px;
}