// Custom code
.tygh-footer > div, .footer-copyright, .ty-footer-menu, .footer-copyright {
	background-image: none;
	background-color: @base; 
}

// ======================================================= ##Variables

@rounded_corners: true;
@links: #57a4a5;
@menu_links: #2f353e;
@menu: #9ee0e1;
@base: #eef3f4;
@font: #2a2c30;

@primary_button: #9ee0e1;
//@primary_button_color
//@primary_button_hover

@secondary_button: #2f353e;
//@secondary_button_color
//@secondary_button_hover

@tertiary_button: #eff5f5;
//@tertiary_button_color
@tertiary_button_hover: #f7fafa;

@sidebar: #f7fafa;
@price: #2f353e;
@discount_label: #ff6457;
@in_stock: #3a8484;
@out_of_stock: #808d9f;
@top_panel_links: #808d9f;
@top_panel_text: #808d9f;
@footer_text: #2f353e;
@decorative: #ff6457;

@general_bg_color: #ffffff;
@general_bg_image: transparent;
@general_bg_repeat: repeat;
@general_bg_scroll: scroll;

@top_panel_bg: #ffffff;
@top_panel_bg_full: true;
@top_panel_bg_transparent: false;
@top_panel_bg_grad_stop: #ffffff;

@header_bg: #ffffff;
@header_bg_full: true;
@header_bg_transparent: false;
@header_bg_grad_stop: #ffffff;

@content_bg: #ffffff;
@content_bg_full: false;
@content_bg_transparent: true;

@footer_bg: #ffffff;
@footer_bg_full: true;
@footer_bg_transparent: false;
@footer_bg_grad_stop: #ffffff;

@body_font: Arial,sans-serif;
@body_font_size: 13px;
@body_font_style: normal;
@body_font_weight: normal;
@headings_font: MuseoSansBlack,sans-serif;
@headings_font_size: 24px;
@headings_font_decoration: none;
@headings_font_style: normal;
@headings_font_weight: normal;
@links_font: Arial,sans-serif;
@links_font_size: 13px;
@links_font_decoration: none;
@links_font_style: normal;
@links_font_weight: normal;
@price_font: MuseoSansBlack,sans-serif;
@price_font_size: 18px;
@price_font_decoration: none;
@price_font_style: normal;
@price_font_weight: normal;
@buttons_font: Arial,sans-serif;
@buttons_font_size: 13px;
@buttons_font_decoration: none;
@buttons_font_style: normal;
@buttons_font_weight: normal;

// Only this style ------------------------------------

@uppercase: uppercase; // uppercase, none
@buttons_font_transform: none; // uppercase, none

//@product_block__color_add_to_cart
//@color-header-icons
//@lines-decorative-color
//@active-menu-link
//@header-delim-color
@categories-block-bg: @sidebar;
@grid-list-title-color: #36383e;

// Mix color
@mix-lighten-font: 35%;
@mix-lighten-max-font: 65%;
@mix-discount_label_lighten: 30%;

// Fill
@fill-color-box: @discount_label;
@title-color-box: #ffffff;
@fill-gray-box: @sidebar;

// Labels
@product-labels-outline: true;
//@product-labels-shadow: true;
//@product-labels-text-shadow: true;

// Buttons
@2d-fill: false;
@bt-color: @font;
@buttons_font_transform: none;

@abt__ut2_general_bright_hues: true;
@abt__ut2_general_use_elements_alignment: use;
@abt__ut2_general_show_grid_border: solid_without_margins;
@abt__ut2_general_button_style: use_background;
@abt__ut2_general_show_button_shadow: true;
@abt__ut2_general_discount_label_style: as_drop;
@abt__ut2_general_use_rounding: little;
@abt__ut2_general_stars_rating_color: #ff6457;
@abt__ut2_general_extend_grid_item_on_hover: false;
@abt__ut2_general_show_animation_for_not_empty_cart: true;
