.search {
    width: 50%;
    position: relative;
    top: -241px;
    left: 25%;
}

.search input {
    font-size: 17px;
    min-height: 44px;
    border-radius: 10px;
    border: 3px solid #c0d2d6!important;
    border-color: #f7ae24!important;
}

.advanced-search {
    position: relative;
    top: -234px;
    left: 44%;
}

.advanced-search a {
    font-size: 18px;
    font-weight: 600;
    color: #8385b2;
}

#search_input {
    height: 25%;
}

.dos .ty-menu__submenu {
     left: 68%!important;
     width: 22%!important;
}

.prism .ty-menu__submenu {
     left: 58%!important;
     width: 22%!important;
}

.rep .ty-menu__submenu {
     left: 48%!important;
     width: 22%!important;
}

.soc-razv .ty-menu__submenu {
     left: 38%!important;
     width: 22%!important;
}

.no-touch .ty-menu__item:hover .ty-menu__item-link,
.is-hover-menu .ty-menu__item-link,
.is-hover-menu.ty-menu__item-active .ty-menu__item-link {
    background: darken(#92ebff, 3%)!important;
    color: white;
    text-shadow: none;
}

.ty-menu__item-active .ty-menu__item-link {
    background: darken(#92ebff, 5%)!important;
}

.ty-menu__item.cm-menu-item-responsive {
    max-width: 158px!important;
}

@media screen and (min-width: 769px) {
.top-menu-grid .ut2-h__menu .ty-menu__items .ty-menu__item .ty-menu__item-link {
    white-space: pre-wrap;
    line-height: 18px;
}
}

.ut2-top-my-account {
    border-right: 0px!important ;
    width: 100%!important;
}

.utp {
    padding-left: 25px;
    position: absolute;
    top: 55px;
}

.top-logo {
    padding-left: 120px;
}

.ty-logo-container {
    padding-bottom: 37px!important;
}

.ty-geo-maps__geolocation__opener {
    font-size: 17px!important;
}

.ut2-blog__recent-posts .owl-item {
    width: 248px!important;
}

.bottom-copyright {
    margin-top: 0px!important;
}

.product-page-cent {
    float: left!important;
    width: 771px!important;
}

.ty-footer-general__header {
    padding-top: 15px;
}

#footer-general_104 {
    max-height: 51px;
    margin-bottom: 0px;
}

.ut2-social-link-block {
    padding-top: 0px;
    padding-bottom: 0px;
}

.footer {
    padding-top: 45px;
}

.ty-account-info__buttons.buttons-container {
    margin: 0px!important;
}