// Custom code
.ut2-social-links i {
	background: @primary_button;
}


// ======================================================= ##Variables

@rounded_corners: true;
@links: #105990;
@menu_links: #1e1e1e;
@menu: #d9f5ff;
@base: #eeeeee;
@font: #1e1e1e;

@primary_button: #105990;
//@primary_button_color
//@primary_button_hover

@secondary_button: #646464;
//@secondary_button_color
//@secondary_button_hover

@tertiary_button: #f0f0f0;
//@tertiary_button_color
@tertiary_button_hover: #f6f6f6;

@sidebar: #f6f6f6;
@price: #1e1e1e;
@discount_label: #cd192e;
@in_stock: #4caf50;
@out_of_stock: #999999;
@top_panel_links: #999999;
@top_panel_text: #999999;
@footer_text: #1e1e1e;
@decorative: #cd192e;

@general_bg_color: #ffffff;
@general_bg_image: transparent;
@general_bg_repeat: repeat;
@general_bg_scroll: scroll;

@top_panel_bg: #ffffff;
@top_panel_bg_full: true;
@top_panel_bg_transparent: false;
@top_panel_bg_grad_stop: #ffffff;

@header_bg: #ffffff;
@header_bg_full: true;
@header_bg_transparent: false;
@header_bg_grad_stop: #ffffff;

@content_bg: #ffffff;
@content_bg_full: false;
@content_bg_transparent: true;

@footer_bg: #ffffff;
@footer_bg_full: true;
@footer_bg_transparent: false;
@footer_bg_grad_stop: #ffffff;

@body_font: Arial,sans-serif;
@body_font_size: 13px;
@body_font_style: normal;
@body_font_weight: normal;
@headings_font: MuseoSansBlack,sans-serif;
@headings_font_size: 24px;
@headings_font_decoration: none;
@headings_font_style: normal;
@headings_font_weight: normal;
@links_font: Arial,sans-serif;
@links_font_size: 13px;
@links_font_decoration: none;
@links_font_style: normal;
@links_font_weight: normal;
@price_font: MuseoSansBlack,sans-serif;
@price_font_size: 18px;
@price_font_decoration: none;
@price_font_style: normal;
@price_font_weight: normal;
@buttons_font: Arial,sans-serif;
@buttons_font_size: 13px;
@buttons_font_decoration: none;
@buttons_font_style: normal;
@buttons_font_weight: normal;

// Only this style ------------------------------------

@uppercase: uppercase; // uppercase, none
@buttons_font_transform: none; // uppercase, none

//@product_block__color_add_to_cart
//@color-header-icons
//@lines-decorative-color
@active-menu-link: #cceaf6;
@header-delim-color: #cceaf6;
@categories-block-bg: @menu;
@grid-list-title-color: @links;

// Mix color
@mix-lighten-font: 45%;
@mix-lighten-max-font: 65%;
@mix-discount_label_lighten: 52%;

// Fill
@fill-color-box: @menu;
@title-color-box: @font;
@fill-gray-box: #f6f6f6;

// Labels
//@product-labels-outline: true;
//@product-labels-shadow: true;
//@product-labels-text-shadow: true;

// Buttons
@2d-fill: false;
@bt-color: @font;
@buttons_font_transform: none;

@abt__ut2_general_bright_hues: true;
@abt__ut2_general_use_elements_alignment: use;
@abt__ut2_general_show_grid_border: solid_without_margins;
@abt__ut2_general_button_style: use_background;
@abt__ut2_general_show_button_shadow: true;
@abt__ut2_general_discount_label_style: as_drop;
@abt__ut2_general_use_rounding: little;
@abt__ut2_general_stars_rating_color: #ffc107;
@abt__ut2_general_extend_grid_item_on_hover: false;
@abt__ut2_general_show_animation_for_not_empty_cart: true;
