// Custom code
.ty-icon-star-empty {
	color: @base10;
}
.top-menu-grid {
    .box-shadow(rgba(0,0,0,0.10) 0px 1px 1px 0px, rgba(0,0,0,0.05) 0px 2px 2px 0px);
}
.advanced-header {
	.top-menu-grid .top-menu-grid-vetrtical, .ut2-top-my-account, .ut2-top-cart-content {
		.ty-dropdown-box__title.open {
		    border-color: @decorative;
		}
	}
}

// ======================================================= ##Variables

@rounded_corners: true;
@links: #a1497e;
@menu_links: #2e2e2e;
@menu: #ffffff;
@base: #eeeeee;
@font: #1e1e1e;

@primary_button: #2e2e2e;
@primary_button_color: #f5f5f5;
@primary_button_hover: #454545;

@secondary_button: #737373;
//@secondary_button_color
//@secondary_button_hover

@tertiary_button: #eeeeee;
//@tertiary_button_color
@tertiary_button_hover: #f6f6f6;

@sidebar: #ffffff;
@price: #1e1e1e;
@discount_label: #ba1077;
@in_stock: #4caf50;
@out_of_stock: #999999;
@top_panel_links: #999999;
@top_panel_text: #999999;
@footer_text: #2e2e2e;
@decorative: #ba1077;

@general_bg_color: #ffffff;
@general_bg_image: transparent;
@general_bg_repeat: repeat;
@general_bg_scroll: scroll;

@top_panel_bg: #ffffff;
@top_panel_bg_full: false;
@top_panel_bg_transparent: false;
@top_panel_bg_grad_stop: #ffffff;

@header_bg: #ffffff;
@header_bg_full: false;
@header_bg_transparent: false;
@header_bg_grad_stop: #ffffff;

@content_bg: #ffffff;
@content_bg_full: false;
@content_bg_transparent: true;

@footer_bg: #f6f6f6;
@footer_bg_full: false;
@footer_bg_transparent: false;
@footer_bg_grad_stop: #f6f6f6;

@body_font: Arial,sans-serif;
@body_font_size: 13px;
@body_font_style: normal;
@body_font_weight: normal;
@headings_font: MuseoSansBlack,sans-serif;
@headings_font_size: 24px;
@headings_font_decoration: none;
@headings_font_style: normal;
@headings_font_weight: normal;
@links_font: Arial,sans-serif;
@links_font_size: 13px;
@links_font_decoration: none;
@links_font_style: normal;
@links_font_weight: normal;
@price_font: MuseoSansBlack,sans-serif;
@price_font_size: 18px;
@price_font_decoration: none;
@price_font_style: normal;
@price_font_weight: normal;
@buttons_font: Arial,sans-serif;
@buttons_font_size: 13px;
@buttons_font_decoration: none;
@buttons_font_style: normal;
@buttons_font_weight: normal;

// Only this style ------------------------------------

@uppercase: uppercase; // uppercase, none
@buttons_font_transform: none; // uppercase, none

//@product_block__color_add_to_cart
@color-header-icons: @lighten-font;
//@lines-decorative-color
@active-menu-link: @base;
//@header-delim-color: @base;
@categories-block-bg: @base;
//@grid-list-title-color: #646464;

// Mix color
@mix-lighten-font: 45%;
@mix-lighten-max-font: 65%;
@mix-discount_label_lighten: 57%;

// Fill
@fill-color-box: #a1497e;
@title-color-box: #ffffff;
@fill-gray-box: #f6f6f6;

// Labels
//@product-labels-outline: true;
//@product-labels-shadow: true;
//@product-labels-text-shadow: true;

// Buttons
@2d-fill: false;
@bt-color: @font;
//@buttons_font_transform: none;

@abt__ut2_general_bright_hues: true;
@abt__ut2_general_use_elements_alignment: use;
@abt__ut2_general_show_grid_border: solid_without_margins;
@abt__ut2_general_button_style: use_background;
@abt__ut2_general_show_button_shadow: false;
@abt__ut2_general_discount_label_style: as_drop;
@abt__ut2_general_use_rounding: do_not_use;
@abt__ut2_general_stars_rating_color: #a1497e;
@abt__ut2_general_extend_grid_item_on_hover: true;
@abt__ut2_general_show_animation_for_not_empty_cart: true;
