{$ec_company_data = fn_get_company_data($product.company_id)}

{$store_name = fn_get_store_location_name($product.ec_store_location_id)}
<a href="index.php?dispatch=companies.products&company_id={$product.company_id}">{$store_name}</a><br/>
<i class="ty-icon ty-icon-pointer"></i>{if $ec_company_data.address}{$ec_company_data.address},{/if}
{if $ec_company_data.city}{$ec_company_data.city}{/if} 