        <div>
            <a class="ty-btn" href="index.php?dispatch=profiles.add" rel="nofollow"><span>Я ищу занятие</span></a>
            <a class="ty-btn__primary ty-btn" href="index.php?dispatch=companies.apply_for_vendor" rel="nofollow"><span>Я предлагаю занятие</span></a>
        </div>