// AB: Fast_Navigation Styles

@circle-size: 42px;

.ab-fn-parent {
    margin: 20px 0;
    padding-top: 15px;
    position: relative;
    .ab-fn-first-level-item, .ab-fn-second-level-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        text-align: center;
        .box-sizing(border-box);
        min-height: 125px;
        .ab-fn-image-wrap {
            display: block;
            position: relative;
            margin: 10px auto 0 auto;
            max-width: 100%;
            &.ab-fn-no-image-wrapper {
                .ab-fn-no-image {
                    display: block;
                    height: 0;
                    padding: 50% 0;
                    background: darken(@content_bg, 5%);
                    i {
                        color: darken(@base, 10%);
                        &:hover {
                            color: darken(@base, 10%);
                        }
                    }
                }
            }
            .ab-fn-no-image, img {
                max-width: 100%;
            }
        }
        .ab-fn-item-header {
            padding: 10px 0 0;
            min-height: 48px;
            display: inline-block;
            color: @font;
            .transition(0.4s ease);
            overflow: hidden;
            &:first-line {
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        .ab-fn-label {
            display: inline-block;
            position: relative;
            -ms-word-wrap: break-word;
            word-wrap: break-word;
            text-transform: uppercase;
            bottom: 1px;
            padding: 1px 8px;
            margin-left: 7px;
            font-size: 8px;
            line-height: 12px;
            .border-radius(17px);
        }
        &:hover {
            .ab-fn-item-header {
                color: lighten(@font, 15%);
            }
        }
        &.ab-fn-common-item-link {
            align-items: center;
            flex-direction: column-reverse;
            .ab-fn-arrow-more {
                position: relative;
                display: inline-block;
                bottom: 10px;
                width: @circle-size;
                height: @circle-size;
                border: 2px solid @links;
                .border-radius(50%);
                .transition(0.4s ease);
                i {
                    position: absolute;
                    display: inline-block;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 40%;
                    height: 2px;
                    background: @links;
                    .transition(0.4s ease);
                    &:after, &:before {
                        content: '';
                        position: absolute;
                        display: block;
                        right: 0;
                        height: 2px;
                        width: 50%;
                        background: @links;
                        .transition(0.4s ease);
                    }
                    &:before {
                        top: -3px;
                        transform: rotate(45deg);
                    }
                    &:after {
                        bottom: -3px;
                        transform: rotate(315deg);
                    }
                }
                &:hover {
                    border-color: lighten(@links, 15%);
                    i {
                        background: lighten(@links, 15%);
                        &:before, &:after {
                            background: lighten(@links, 15%);
                        }
                    }
                }
            }
            .ab-fn-item-header {
                padding: 0;
                min-height: auto;
            }
        }
        &.scroller-item:not(.ab-fn-loaded-image) {
            img {
                display: none;
            }
            .ab-fn-image-wrap:not(.ab-fn-no-image-wrapper) {
                width: 80%;
                position: relative;
                .ab-fn-img-loader {
                    width: 90%;
                    min-width: 70px;
                    left: 0;
                    top: 10%;
                    padding: 90% 0 0;
                    display: block;
                    position: relative;
                    animation: abFnRotateIndicator 1s linear infinite;
                    &:before {
                        content: '';
                        position: absolute;
                        width: 50%;
                        height: 50%;
                        .translate(-50%, -50%);
                        top: 50%;
                        left: 50%;
                        .border-radius(50%);
                        .box-sizing(border-box);
                        border: 5px solid @base;
                        border-right-color: @links;
                    }
                }
            }
        }
    }
    .ab-fn-second-level {
        display: none !important;
        flex-wrap: wrap;
        padding: 10px 0;
        border: 1px solid @base;
        border-top: 0;
        .box-sizing(border-box);
        .owl-wrapper-outer {
            .owl-wrapper {
                display: flex !important;
            }
        }
        .ab-fn-delimeter-plus {
            position: relative;
            bottom: 15px;
            width: @circle-size;
            height: @circle-size;
            display: inline-block;
            border: 2px solid @links;
            .border-radius(50%);
            .transition(0.4s ease);
            &:before, &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: @links;
                .border-radius(2px);
                .transition(0.4s ease);
            }
            &:before {
                width: 50%;
                height: 2px;
            }
            &:after {
                height: 50%;
                width: 2px;
            }
            &:hover {
                border-color: lighten(@links, 15%);
                &:before, &:after {
                    background: lighten(@links, 15%);
                }
            }
        }
        &.active {
            display: flex !important;
        }
        div.delimeter-block {
            display: none;
            cursor: pointer;
            align-items: center;
            .ab-fn-item-header {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        div.delimeter-block[data-delimeter="1"] {
            display: inline-flex;
        }
    }
    .owl-item {
        display: flex;
        flex-wrap: wrap;
        & > div, & > a {
            width: 100% !important;
        }
    }
    .ab-fn-common-link {
        margin: 25px 0;
        text-align: center;
        & > a {
            margin: 0 auto;
            display: inline-block;
            text-align: center;
        }
        .ab-fn-common-text-link {
            font-size: 17px;
            i {
                position: relative;
                left: 8px;
                top: 3px;
                .transition(0.3s ease);
            }
            &:hover {
                i {
                    color: @secondary_button;
                }
            }
        }
    }
    .owl-carousel {
        .owl-wrapper-outer {
            display: flex;
        }
    }
    .owl-carousel.owl-theme .owl-controls {
        .owl-prev, .owl-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin: 0;
        }
        .owl-buttons {
            .owl-prev {
                left: 0;
                &:after {
                    margin-left: 0;
                }
            }
            .owl-next {
                right: 0;
                &:before {
                    margin-right: 0;
                }
            }
        }
    }
    .owl-theme .owl-controls {
        margin-top: 0;
    }
    .owl-item:last-child {
        .ab-fn-first-level-item {
            border-right: none;
        }
    }
    .owl-theme .owl-controls:not(.owl-controls-outside) .owl-buttons div {
        background: transparent;
    }
    .ab-fn-hidden {
        display: none !important;
    }
}
.ab-fn-first-level-item {
    background: darken(@content_bg, 2.5%);
    border-right: 1px solid @base;
    padding-bottom: 8px;
    border-bottom: 3px solid @base;
    .ab-fn-fl-content:not(.ab-fn-allow-link-1) {
        pointer-events: none;
    }
    &.active {
        border-bottom: 3px solid @links;
        background: @content_bg;
        &:after, &:before {
            content: '';
            position: absolute;
            bottom: -3px;
            left: 50%;
            transform: translateX(-50%);
            border: 10px solid transparent;
            border-bottom: 10px solid @content_bg;
        }
        &:before {
            bottom: 0;
            border: 11px solid transparent;
            border-bottom: 11px solid @links;
        }
        .ab-fn-item-header {
            color: @links;
        }
    }
}
.ab-fn-scrollbar {
    position: absolute;
    z-index: 2;
    top: 13px;
    width: 100%;
    height: 1px;
    .ab-fn-scrollbar-plate {
        position: absolute;
        left: 0;
        min-width: 20px;
        top: 50%;
        height: 3px;
        border-bottom: 2px solid darken(@base, 10%);
        .transition(0.6s ease);
    }
    .ab-fn-scroll-scrolled, .ab-fn-scroll-common {
        position: absolute;
        top: -15px;
        font-size: 8px;
        color: darken(@base, 10%);
    }
    .ab-fn-scroll-scrolled {
        left: 0;
    }
    .ab-fn-scroll-common {
        right: 0;
    }
}
.ab-fn-first-level {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    .box-sizing(border-box);
    border: 1px solid @base;
    border-bottom: 0;
    &.one_level {
        border-right: 0;
        .owl-item:last-child .ab-fn-first-level-item {
            border-right: 1px solid @base;
        }
        .ab-fn-first-level-item {
            .box-sizing(border-box);
            border-bottom: 1px solid @base;
            background: @content_bg;
            margin: 0;
            &.active {
                border-bottom: 1px solid @base;
                &:before, &:after {
                    display: none;
                }
                .ab-fn-item-header {
                    color: @text;
                }
            }
        }
    }
}
a.ab-fn-second-level-item {
    cursor: pointer;
    &:hover {
        .ab-fn-item-header {
            color: #465f73;
        }
    }
    &:not(.delimeter-0) {
        display: none;
    }
}
.ab-fn-fl-content, .ab-fn-sl-content {
    max-width: 100%;
    padding: 0 10px;
    .box-sizing(border-box);
}
.ab__fn_grid {
    .ab-fn-first-level-item {
        border-bottom: 1px solid @base;
        box-sizing: content-box;
    }
}
.ab-fn-first-level .ab-fn-second-level {
    .box-sizing(content-box);
}
.ab-fn-clipped {
    max-height: 220px;
}

@media screen and (max-width: 979px) {
    .ab-fn-parent {
        .ab-fn-second-level-item {
            min-height: 180px;
        }
    }
}

@media screen and (max-width: 480px) {
    .ab-fn-parent {
        .ab-fn-first-level-item, .ab-fn-second-level-item {
            min-height: auto;
            .ab-fn-item-header {
                font-size: 10px;
            }
        }
        .ab-fn-second-level-item {
            &.ab-fn-common-item-link {
                flex-direction: column;
                justify-content: center;
                .ab-fn-arrow-more {
                    bottom: 0;
                    width: @circle-size;
                    height: @circle-size;
                }
            }
            .ab-fn-delimeter-plus {
                width: @circle-size;
                height: @circle-size;
            }
        }
    }
    .ab-fn-no-second-lvl {
        padding: 0 0 10px;
    }
}

@keyframes abFnRotateIndicator {
    0% {
        .rotate(0deg);
    }
    100% {
        .rotate(360deg);
    }
}
@-webkit-keyframes abFnRotateIndicator {
    0% {
        .rotate(0deg);
    }
    100% {
        .rotate(360deg);
    }
}
@-moz-keyframes abFnRotateIndicator {
    0% {
        .rotate(0deg);
    }
    100% {
        .rotate(360deg);
    }
}
@-o-keyframes abFnRotateIndicator {
    0% {
        .rotate(0deg);
    }
    100% {
        .rotate(360deg);
    }
}
@-ms-keyframes abFnRotateIndicator {
    0% {
        .rotate(0deg);
    }
    100% {
        .rotate(360deg);
    }
}