.ec_booking_template{
    .ut2-pb__title {
        margin: 0 0 20px 0px;
    }
    .ec_vendor_name{
        margin-bottom: 5px;
        flex: 1;
    }
    .ec_company_address{
        font-size: 12px;
        margin-top: 5px;
        margin-left: -1px;
    }
    .ty-icon-pointer{
        font-size: 10px;
    }
    .ec_vendor_block{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 15px;
    }
    .ec_product_feature{
        border: 1px solid #e0d6d6;
        margin-bottom: 15px;
        .ty-product-feature__label{
            color: @font;
        }
    }
    .ut2-pb .ty-product-img{
        width: auto !important;
    }
}