// GRID
@fluid-row_min-padding: 20px;
@fluid-row_max-padding: 20px;

.container-fluid {
    width: auto;
    min-width: inherit;
    max-width: none;
    padding-right: 0;
    padding-left: 0;
    > .container-fluid-row {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
	> .row-fluid {
		max-width: @fluidContainerMaxWidth;
		min-width: @fluidContainerMinWidth;
		margin: 0 auto;
	}
}
.container-fluid-row {
    max-width: @fluidContainerMaxWidth;
    min-width: @fluidContainerMinWidth;
    margin: 0 auto;
    .clearfix();
    > .row-fluid {
	    //background: @content_bg;
	    padding-left: @fluid-row_max-padding;
	    padding-right: @fluid-row_max-padding;	    
    }
    @media screen and (max-width: 320px) {
	    > .row-fluid {
		    padding-left: @fluid-row_min-padding;
		    padding-right: @fluid-row_min-padding;
	    }
    }
}
.container-fluid > .container-fluid-row.container-fluid-row-no-limit {
    padding: 0;
    > .row-fluid {
	    padding-left: 0;
	    padding-right: 0;	    
    }
}
.container-fluid-row-full-width,
.container-fluid-row-no-limit {
    max-width: none;
}
.container-fluid-row-full-width > .row-fluid {
    max-width: @fluidContainerMaxWidth;
    min-width: @fluidContainerMinWidth;
    margin: 0 auto;
}
.container-fluid-row.container-fluid-row-no-limit {
    padding-right: 0;
    padding-left: 0;
}
.row-fluid [class*="span"]:first-child {
    padding-left: 0;
    padding-right: 0;
}
.container-fluid .ty-footer-grid__full-width {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: @fluidContainerMaxWidth + 160px) {
	.container-fluid > .container-fluid-row {
        padding-right: @fluid-row_max-padding;
        padding-left: @fluid-row_max-padding;
	}
	.container-fluid-row-full-width > .row-fluid {
        max-width: @fluidContainerMaxWidth - (@fluid-row_max-padding * 2);
	}
	.container-fluid > .container-fluid-row.container-fluid-row-no-limit {
        .abyt-a-content {
            padding-right: @fluid-row_max-padding;
            padding-left: @fluid-row_max-padding;
        }
    }
}
@media screen and (max-width: 767px) {
    .tygh-header > div, .tygh-top-panel > div {
        padding: 0;
    }
}
@media screen and (max-width: 1440px) {
	.container-fluid-row-full-width > .row-fluid {
		max-width: @fluidContainerMaxWidth;
	}
}

.tygh-content > div {
	padding-bottom: 0;	
}

.main-content-grid {
	padding-bottom: @pdf;
}

// Responsive submenu-items

.top-menu-grid {
	@media screen and (max-width: 768px) {
		& > .row-fluid {
			padding-left: 0;
			padding-right: 0;			
		}
	}
	.top-menu > .ty-menu__items {
		.ty-top-mine__submenu-col {
			width: -webkit-calc(~'100%/6 - 14px');
			width: calc(~'100%/6 - 14px');	
		}
		& > .ty-menu__item > .ty-menu__submenu {
			.ty-menu__submenu-items {
				padding: 40px 0;
			}
		}
		@media screen and (max-width: 1280px) {
			.ty-top-mine__submenu-col {
			  width: -webkit-calc(~'100%/5 - 14px');
			  width: calc(~'100%/5 - 14px');	
			}
		}
		@media screen and (max-width: 1024px) {
			.ty-top-mine__submenu-col {
			  width: -webkit-calc(~'100%/4 - 14px');
			  width: calc(~'100%/4 - 14px');	
			}
		}
		@media screen and (max-width: 900px) {
			.ty-top-mine__submenu-col {
			  width: -webkit-calc(~'100%/3 - 14px');
			  width: calc(~'100%/3 - 14px');	
			}
		}
	}	
}

// Flex grid cols
.ty-pagination-container {
	@media screen and (min-width: 768px) {
		#categories_view_pagination_contents, #products_search_pagination_contents {
			display: flex;
			flex-wrap: wrap;
		}
		div[class^="ty-column"] {
			flex: 1;
			flex-basis: auto;
			min-width: 230px;
		}
		// adaptations with abnormal number of columns
		.ty-column11, .ty-column12, .ty-column13, .ty-column14, .ty-column15,
		.ty-column16, .ty-column17, .ty-column18, .ty-column19, .ty-column20 {
			flex-basis: 230px !important;
		}
	}
}
.grid-list {
	.clearfix();
	div[class^="ty-column"] {
		float: left;
		margin-right: 0;
		
		@media screen and (max-width: 992px) {
			width: 25%;
		}
		@media screen and (max-width: 768px) {
			width: 33.3333%;
		}
		@media screen and (max-width: 576px) {
			width: 33.3333%;
		}
		@media screen and (max-width: 480px) {
			width: 50%;
		}
		@media screen and (max-width: 320px) {
			width: 100%;
		}
	}
}
.ty-wysiwyg-content [class*="ty-column"] {
	margin-bottom: 0;
    padding: 0;
}