            <th width="1%" class="mobile-hide">
                {include file="common/check_items.tpl" class="cm-no-hide-input"}
            </th>
            <th width="20%" class="shift-left">{__("store_locator")}</th>
            <th width="20%" class="shift-left">{__("city")}</th>