<div class="litecheckout__container">
    {*<div class="litecheckout__group litecheckout__step" id="litecheckout_step_shipping">
        {include file="views/checkout/components/shipping_rates.tpl" no_form=true}
    <!--litecheckout_step_shipping--></div>*}
</div>
